
<div class="favorite-container">
    <% for (let i=0; i < favorites.length; i++){ %>
        <% let eachFavorite = favorites[i].get(); %>
            <div class="favorite-items">
                <h3><%= eachFavorite.title %> </h3>
                <p>
                    <img id='results-poster' name="pinned" src="<%= eachFavorite.image %>" alt="poster">
                </p>
                
                <form method="POST" action="/favorites/<%= eachFavorite.id %>?_method=DELETE">
                    <button class="btn btn-primary" type="submit">Remove from Favorites</button>
                </form>
            </div>

    <% } %>
</div>
