<h2>Homepage</h2>


<% if (!currentUser) { %>
    
<% } else { %> 


    <!-- <div id="carouselContainer" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <%// shows.forEach(s => { %>
                <div class="carousel-item active">
                    <img id="carousel" src="<%=// s.image_url %>" class="d-block w-100" alt="poster">
                </div>
            <%// }) %> 
        </div>
      </div> -->

<div class="index-container">
    <% shows.forEach(s => { %>
        <div class="index-items">
            <a href="/details/<%=s.mal_id%>">
            <h2><%= s.title %> </h2>
            <img id='index-poster' src="<%= s.image_url %>" alt="Poster">
            
            <p><small>Click for show details</small></p>
            </a>
        </div>
    <% }) %> 
</div>
<% } %> 