<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auth App</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include partials/alerts %>
    <header>
      <nav>
        <ul>
          <% if(!currentUser) { %>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/favorites">Favorites</a></li>
            <li><a href="/">home</a></li>
          </ul>
        </nav>
        
        <nav>
          <ul>
            <li>
              <form method="GET" action="/genreResults">
                <input id="genreTitle" type="text" name="genreTitle" hidden value="1">
                <input id='button' type="submit" value="Action">
              </form>
            </li>
            <li>
              <form method="GET" action="/genreResults">
                <input id="genreTitle" type="text" name="genreTitle" hidden value="2">
                <input id='button' type="submit" value="Adventure">
              </form>
            </li>
            <li>
              <form method="GET" action="/genreResults">
                <input id="genreTitle" type="text" name="genreTitle" hidden value="3">
                <input id='button' type="submit" value="Cars">
              </form>
            </li>
            <li>
              <form method="GET" action="/genreResults">
                <input id="genreTitle" type="text" name="genreTitle" hidden value="4">
                <input id='button' type="submit" value="Comedy">
              </form>
            </li>
            <li>
              <form method="GET" action="/genreResults">
                <input id="genreTitle" type="text" name="genreTitle" hidden value="5">
                <input id='button' type="submit" value="Dementia">
              </form>
            </li>
            <li>
              <form method="GET" action="/genreResults">
                <input id="genreTitle" type="text" name="genreTitle" hidden value="6">
                <input id='button' type="submit" value="Demons">
              </form>
            </li>
            <li>
              <form method="GET" action="/genreResults">
                <input id="genreTitle" type="text" name="genreTitle" hidden value="7">
                <input id='button' type="submit" value="Mystery">
              </form>
            </li>
            <li>
              <form method="GET" action="/genreResults">
                <input id="genreTitle" type="text" name="genreTitle" hidden value="8">
                <input id='button' type="submit" value="Drama">
              </form>
            </li>
            <li>
              <form method="GET" action="/genreResults">
                <input id="genreTitle" type="text" name="genreTitle" hidden value="9">
                <input id='button' type="submit" value="Ecchi">
              </form>
            </li>
            <li>
              <form method="GET" action="/genreResults">
                <input id="genreTitle" type="text" name="genreTitle" hidden value="10">
                <input id='button' type="submit" value="Fantasy">
              </form>
            </li>
            <li>
              <form method="GET" action="/genreResults">
                <input id="genreTitle" type="text" name="genreTitle" hidden value="11">
                <input id='button' type="submit" value="Game">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="13">
            <input id='button' type="submit" value="Historical">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="14">
            <input id='button' type="submit" value="Horror">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="15">
            <input id='button' type="submit" value="Kids">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="16">
            <input id='button' type="submit" value="Magic">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="17">
            <input id='button' type="submit" value="Martial Arts">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="18">
            <input id='button' type="submit" value="Mecha">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="19">
            <input id='button' type="submit" value="Music">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="20">
            <input id='button' type="submit" value="Parody">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="21">
            <input id='button' type="submit" value="Samurai">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="22">
            <input id='button' type="submit" value="Romance">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="23">
            <input id='button' type="submit" value="School">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="24">
            <input id='button' type="submit" value="Sci Fi">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="25">
            <input id='button' type="submit" value="Shoujo">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="27">
            <input id='button' type="submit" value="Shounen">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="29">
            <input id='button' type="submit" value="Space">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="30">
            <input id='button' type="submit" value="Sports">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="31">
            <input id='button' type="submit" value="Super Power">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="32">
            <input id='button' type="submit" value="Vampire">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="35">
            <input id='button' type="submit" value="Harem">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="36">
            <input id='button' type="submit" value="Slice Of Life">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="37">
            <input id='button' type="submit" value="Supernatural">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="38">
            <input id='button' type="submit" value="Military">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="39">
            <input id='button' type="submit" value="Police">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="40">
            <input id='button' type="submit" value="Psychological">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="41">
            <input id='button' type="submit" value="Thriller">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="42">
            <input id='button' type="submit" value="Seinen">
          </form>
        </li>
        <li>
          <form method="GET" action="/genreResults">
            <input id="genreTitle" type="text" name="genreTitle" hidden value="43">
            <input id='button' type="submit" value="Josei">
          </form>
        </li>
      </nav>  
      <% } %> 
    </header>
    <h1>Anime List</h1>
    <%- body %>
  </body>
  </html>
  
  
  
  