
body{ 
  text-align: center;
  background-image: url('/public/assets/images/lantern-wallpaper.jpg');
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}
/* #carouselContainer{
  width: 40%;
}
#carousel{
  height: 500px;
  width: 200px;
} */

#brand{
  padding-left: 55%;
  padding-top: 5px;
  font-size: 35px;
  color: green;
}

li{
  padding-top: 15px;
}

.index-container{
  margin: auto;
  width: 1200px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  align-items: end;
  justify-content: space-evenly; 
}

.index-items{
  text-align: center;
  padding: 20px;
}

#index-poster{
  height: 300px;
  width: 200px;
}