
body{ 
  text-align: center;
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}
#carouselContainer{
  width: 40%;
}
#carousel{
  height: 500px;
  width: 200px;
}